<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
            <div><input type="text" id="city" placeholder="Enter the city you want to show"></div>
            <div id="map" style="width:100%; height:400px;"></div>
        </div>
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -40.900558, lng: 174.885971},
          zoom: 6
        });
        
        var gecoder = new google.maps.Geocoder();
        
        city1 = document.getElementById("city").value;
        if(city1 !== null){
        	geocoder.geocode({'address': city1}, function(results, status) {
          		if (status === 'OK') {
            		resultsMap.setCenter(results[0].geometry.location);
          	  		var marker = new google.maps.Marker({
        	        map: resultsMap,
              		position: results[0].geometry.location
            	});
          		} else {
            		alert('Geocode was not successful for the following reason: ' + status);
     	        }
        	});
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXh5dxot7GgiiATc88c9XNtY1n7eC55TY&callback=initMap"
    async defer></script>

</html>